ul.series-data-list-box {
  min-width: 960px;
  max-width: 1280px;
}

.item-box {
  display: flex;
}
.item-box > .item-box--actual-data-graph {
  flex: 1;
  color: white;
  background-color: red;
}

.item-box > .item-box--area-of-intereset-graph {
  flex: 1;
  color: white;
  background-color: green;
}
